<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    </head>
    <body>
        <h1>Form to add meds</h1>
        <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="medicine name"/>
        <input type="text" name="count" placeholder="count"/>
        <input type="text" name="brand" placeholder="brand"/>
        <button class="btn btn-success" type="submit">Add</button>
        <a href="/dashboard" class="btn btn-danger">Back</a>
        </form>
    </body>
</html>