#myvideo{
    width:100%;
}
.centered-heading{
    position: absolute;
    font-weight: bold;
    top: 40%;
    left: 40%;
    color: white;
    font-size: 4em;
}
.centered{
    position: absolute;
    top: 50%;
    left: 33%;
    color: white;
    font-size: 1.5em; 
}
#continue{
    position: absolute;
    top: 57%;
    left: 45%;
}